.jumbotron {
    background-color: #343a40;
    color: white;
    border-radius: 0%;
    margin-top: 55px;
}

footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: #343a40;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-reserva {
    width: 100%;
}

address {
    text-align: center;
}

a, address{
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(179, 179, 179);
}