$yellow: #f3f039;
$red: #f82626;
$green: #1a8b16;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


footer {
    background-color: $red;
    @include margenes(50px, 0px);
}