.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    border-radius: 0%;
    margin-top: 55px;
}

.display-4 {
    color: black;
    background-color: #e9ecef;
    border-radius: 10px;
    width: 24rem;
    text-align: center;
    opacity: 0.85;
}

footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: #343a40;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-hotel {
    flex: 1 200px;
    margin: 0 1rem 0 1rem;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
    background-color: #585d63;
    border-color: dimgrey;
}

address {
    text-align: center;
}

a, address{
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(179, 179, 179);
}